h1{

    text-align: center;
    color: greenyellow;
}

h2{

    text-align: center;
    color: rgb(163, 163, 244);
}

h3{

text-align: center;
color: rgb(155, 237, 212);

}

h4{

text-align: center;
color: rgb(246, 212, 166);

}